<footer class="footer">

    <h3>Ubuntu Celebration Awards</h3>

    <p>
        Uniting Humanity. Celebrating Impact. Building Legacy.
    </p>

    <p>📞 0722542368/0742211927</p>

    <p>✉ <a href="https://ubuntucelebration46@gmail.com" target="_blank">ubuntucelebration46@gmail.com</a></p>

     <p><a href="https://instagram.com/ubuntucelebration?igsh=bDRiMmV0ZDZjdHIw" target="_blank">Go to Instagram</a></p>
    <p>
        Facebook: Teddy Ondari |
        TikTok: Teddy Ondari
    </p>
    <p>
        <a href="https://youtube.com/@UbuntuCelebration" target="_blank">Go to YouTube</a>

    </p>

    <p>
        © 2026 Ubuntu Celebration Awards.
        All Rights Reserved.
    </p>

</footer>